{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
{% if possible_movies == None %}
    <div class="content">
        <h1 class="heading">Add a Movie</h1>
            {{ wtf.quick_form(form) }}
    </div>
{% else %}
    <div class="content" align="left">
        <h1 class="heading">Select Movie</h1>
            <ul style="list-style-type:none">
                {% for film in possible_movies %}
                <li><p><a href="{{ url_for('edit', title=film.title, moviedbid=film.id) }}">{{film.original_title}}&#32;&#8211;&#32;{{film.release_date}}</a></p></li>
                {% endfor %}
            </ul>
    </div>
{% endif %}
{% endblock %}