<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    {% if library|length == 0 %}
        <p>Library is empty.</p>
    {% else %}
        <ul>
            {% for item in library %}
                <li><p><a href="{{ url_for('delete', value=item.id) }}">Delete</a>&#32;{{ item.title}} &#8211; {{item.author}} &#8211; {{item.rating }} &#47;10 <a href="{{ url_for('edit', value=item.id) }}">Edit Rating</a> </p></li>
            {% endfor %}
        </ul>
    {% endif %}
    
<a href="{{ url_for('add') }}" >Add New Book</a>
</body>
</html>